html{
    scroll-behavior:smooth;
    }


   


.bande-passante1{
margin-top: 3px
}






.premier{
margin-top: 15px;
background: gray;
overflow: hidden;
border:solid black;
opacity: 80%;


    }



ul{
    list-style: none;
    margin-left: 230px; 
    padding-bottom: 20px;


    }


 li{
    float: left;

    
    }



.presentation{
margin-left: 60px;
text-decoration: underline;
text-decoration-color: black;
font-weight: bold;
font-style: italic;
font-family: 'BELL MT' ;
display: inline-block;
color:black;
font-size: 20px;
transition: transform 1s;


}


.presentation:hover,.presentation:focus {
    color: white;
    transform: scale(1.3);
}






body {

background: linear-gradient(180deg,lightblue,white);
background-attachment: fixed; 
margin:2px 5px;


    }
    
    
    
    header {
    border: dashed 4px black;
    margin-left: 15%;
    margin-right:15%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align:center;
    color:blue;
    
    font-family: "BELL MT" ;
    
    }
    
    


    

    
    .logo{
    border:solid;
    border-width: 5px;
    opacity: 100%;
    max-width: 60%;
    color:blue;
    border-top-color: blue;
    border-bottom-color: blue;
    border-left-color: red;
    border-right-color: red ;
    transition: transform 0.5s;
    margin-left: 200px;
    margin-bottom: 25px;
    }
    
        
    
    

    
    .aliou1{
    
    border-radius: 7px;
    color:red;
    border:solid;
    border-width: 5px;
    transition: transform 0.5s;
    }
    
    
    .aliou1:hover{
    transform: translateY(-15px)


    }
    
    
    
    
    .aliou2{
    
    border-radius: 7px;
    color:blue;
    border:solid;
    border-width: 5px;
    transition: transform 0.5s;
    }
    
    .aliou2:hover{
    transform: translateY(-15px);
    
    }
    
    .aliou3{
    
    border-radius: 7px;
    color:red;
    border:solid;
    border-width: 5px;
    transition: transform 0.5s;
    }
    
    
    .aliou3:hover{
    transform: translateY(-15px);
    
    }
    
    
    .aliou4{
    
    border-radius: 7px;
    color:blue;
    border:solid;
    border-width: 5px;
    transition: transform 0.5s;
    
    }
    
    
    
    .aliou4:hover{
    transform: translateY(-15px);
    
    }
    
    
    /* encadrement 1 */
    
    .cadre1{
    margin-bottom: 30px;
    border-top-color: blue;
    border-bottom-color: red;
    border-top-right-radius: 7px;
    border-top-left-radius:7px;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    border-width: 3px;
    border-left-color:blue; 
    border-right-color:blue;
    
    }
    
    
    
    
    
    /* encadrement 2 */
    
    
    .cadre2{
    margin-bottom: 50px;
    border-top-color: blue;
    border-bottom-color: red;
    border-top-right-radius: 7px;
    border-top-left-radius:7px;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    border-width: 3px;
    border-left-color:blue; 
    border-right-color:blue;
    }
    
    
    
    
    

    
    
    
    /* PREMIERE PARTIE TERMINE */
    
    
    
    /* encadrement 3 */
    
    
    .bienvenue{
    
    border-top-right-radius: 7px;
    border-top-left-radius:7px;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    border-top-color: blue;
    border-left-color:blue; 
    border-right-color:blue;
    border-bottom-color: red;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 15px;
    border-width: 3px;

    
    }
    
    
    
    
    
    p{ 
    
    text-align:center;
    
     }
    
    .Nom{
    text-indent: -5%;
    
    }
    
    .Prénom{
    text-indent: -6.2%;
    
    }
    
    .Pays{
    
        text-indent:-11%;
    }
    
    .Numéro{
    
    text-indent: -19.5%;
    
    }
    
    .Passe{
    
        text-indent: -9.0%;
    }
    
    .Naissance{
    
        text-indent: -9.4%;
    }
    
    .Genre{
    
        text-indent: -8.1%;
    
    
    
    }
    
    
    .INSCRIRE {
    
    text-indent: -2%;
    }
    
    
    .bordure1{
        border-radius: 15px;
        border: solid;
        cursor: pointer;
        margin-top: 10px;
        color:green;
        font-size: 12px;
        transition: transform 0.5s;
    
    }
    
    

.bordure1:hover {
transform:scale(1.1);

}



.membre-inscrits{
margin-bottom: 60px;


}



.bordure2{

color:blue;
border:solid;
border-color: blue;
border-radius: 15px;
cursor: pointer;
font-size: 12px;
margin-left: 12px;
transition: transform 0.5s;
}


.bordure2:hover {
transform:scale(1.1);

}


